* {
    margin: auto;
    padding: 0;
  }

html{
    scroll-behavior: smooth;
    background-color: #212121;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    background-image: url('/assets/images/themis-image.png'); /* Replace 'your-image.jpg' with the path to your background image */
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right; /* Adjust the position as needed */
    font-family: 'Kulim Park';
    background-color: #f0f0f0;
}

#logo-image{
    padding-top: 3em;
    padding-left: 2em;

}

header{
    min-height: 10vh;
}

#main-upload{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    min-height: 90vh;
    padding-left: 1em;
    width: 50%;
    margin-left: 10em;
}

main p{
    font-size: larger;
}

#stats-verdict{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1em;
    flex-grow: 1;
}

#stats, #verdict{
    text-transform: uppercase;
}

#stats-verdict{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#stats-verdict #verdict{
    display: flex;
    font-size: 3em;
    width: 100%;
    padding-top: .3em;
    padding-bottom: .3em;
    border-radius: 25px;
}

#stats{
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    /* padding:1em 2em; */
    border-radius: 25px;
    /* font-size: large; */
}

#lang #dis{
    color: yellow;
}

.stats-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lang-err, #discrepency-error, #percent-err{
    font-size: 4em;
}

.err-title{
    padding: 2px 10px;
    background-color: #f0f0f0;
    color: #212121;
    border-radius: 25px;
    
}

#image-verdict{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 1em;
    background-color: #ffffffba;
}

#image-verdict img{
    
}

img .screenshot{

}

.dark-background{
    display: flex;
    background-color: #212121;
    color:#f0f0f0;
}

form{
    margin-top: 0;
}

footer {
    background-color: #212121; 
    justify-content: center;
    padding: 1.5em 0;
    text-align: center;
  }
  
  footer .footerText {
    font-size: 1em;
    color: #f0f0f0;
    flex-shrink: 0;
  }

/* Add your content styles below */
